<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Logo">
        MemoMates
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/saved-connections">Saved Connections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/new-connection">New Connection</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container mt-3">
      {{{body}}}
    </div>
  </body>
</html>
