<div class="container">
  <h1>My Notes</h1>
  {{#if notes.length}}
    <div class="col-md-6 connection-list">
      <h3>Saved Connections</h3>

      {{#each notes as |note|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/notes/{{note.id}}">{{note.name}}</a></h4>
            <p>{{note.word}}</p>
          </div>
          <div class="col-md-4">
            <button
              class="btn btn-sm btn-danger delbtn"
              data-id="{{note.id}}"
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
<script src="./js/connection.js"></script>

<script src="/js/logout.js"></script>
