<div class="card">
  <div class="card-header" style="background-color: rgb(49, 110, 49)">
    <h2>Sign Up</h2>
  </div>
    <form id="signup-form" class="card-body">

      <div class="input-group mb-3">
        <label for="name-input-signup" class="form-label"></label>
        <input type="text" id="name-input-signup" class="form-control" placeholder="Enter your name"/>
      </div>

      <div class="input-group mb-3">
        <label for="email-input-signup"></label>
        <input type="text" id="email-input-signup" class="form-control" placeholder="Enter your email"/>
        <span class="input-group-text">@example.com</span>
      </div>

      <div class="input-group mb-3">
        <label for="password-input-signup" class="form-label"></label>
        <input type="password" id="password-input-signup" class="form-control" placeholder="Enter a password"/>
      </div>

      <button type="submit" 
      id="signup-btn" 
      class="btn btn-secondary btn-lg"
       >Sign up</button>
      <a type="button" class="btn btn-secondary btn-lg" href="/login">Login instead</a>
    </form>
  </div>

<script src="/js/signup.js"></script>